@import "../fonts/stylesheet.css";
body {
  font-family: "Open Sans";
}
body.active {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #fafafa;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #7000ff;
}

@media (min-width: 1920px) {
  .container-fluid {
    max-width: 1920px;
    margin: 0 auto;
  }
}
a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
  font-family: "Open Sans";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
.h1 {
  font-size: 30px;
  line-height: 35px;
  font-family: "Open Sans";
  margin: 0;
}
h1.small,
.h1.small {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}
@media (max-width: 767px) {
  h1.small,
  .h1.small {
    font-size: 14px;
    line-height: 14px;
  }
}

h2,
.h2 {
  font-family: "Open Sans";
  margin: 0;
}
h2.small,
.h2.small {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

h3,
.h3 {
  font-family: "Open Sans";
  margin: 0;
}

.btn-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 50px;
  border-radius: 10px;
  background: transparent;
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn-style.small {
  width: 68px;
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  border-radius: 3px;
}
.btn-style.active, .btn-style:hover {
  color: #fff;
  background: #8b7ff8;
  border: 1px solid #8b7ff8;
}
.btn-style.new-chat {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background: #8b7ff8;
  box-shadow: 0px 3px 10px 0px rgba(57, 57, 57, 0.3);
}
.btn-style.next-btn {
  background: #8b7ff8;
  color: #fff;
  min-width: 223px;
  height: 72px;
  padding: 24px 0px;
}
@media (max-width: 767px) {
  .btn-style.next-btn {
    min-width: 152px;
    height: 45px;
    border-radius: 5px;
  }
}
.btn-style.previous-btn {
  min-width: 223px;
  height: 72px;
  padding: 24px 0px;
  background: #ebeaf1;
}
@media (max-width: 767px) {
  .btn-style.previous-btn {
    min-width: 152px;
    height: 45px;
    border-radius: 5px;
  }
}
.btn-style.previous-btn:hover {
  color: #fff;
  background: #8b7ff8;
  border: 1px solid #8b7ff8;
}
.btn-style.transparent {
  background: transparent;
  border: none;
  color: #7000ff;
  justify-content: flex-start;
}
.btn-style.transparent:hover {
  background: transparent;
  color: #7000ff;
}
.btn-style.facebook-btn {
  background: #4267b2;
}
.btn-style.google-btn {
  background: #4285f4;
}
.btn-style.apple-btn {
  background: #555;
}

p {
  font-family: "Open Sans";
  margin-bottom: 0;
}

strong {
  font-family: "Open Sans";
  display: inline-block;
}

.dashboard-card {
  width: 100%;
  height: 140px;
  border-radius: 10px;
  padding: 20px 15px;
}
.dashboard-card.purple {
  background: #7000ff url("../images/total-patient-bg-img.svg") no-repeat;
  background-position: 90% 55%;
}
.dashboard-card.blue {
  background: #1e87fc url("../images/appointment-bg-image.svg") no-repeat;
  background-position: 90% 55%;
}
.dashboard-card.dark-gray {
  background: #4b5a80 url("../images/review-bg-image.svg") no-repeat;
  background-position: 90% 55%;
}
.dashboard-card p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px; /* 100% */
  text-transform: uppercase;
  margin-bottom: 10px;
}
.dashboard-card strong {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.chat-wrapper {
  /* width */
}
.chat-wrapper::-webkit-scrollbar {
  width: 3px;
}
.chat-wrapper::-webkit-scrollbar-track {
  background: #dedede;
}
.chat-wrapper::-webkit-scrollbar-thumb {
  background: #8b7ff8;
}

.form .form-group {
  margin-bottom: 30px;
}
.form .form-group label {
  color: #818181;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.form .form-group .form-control,
.form .form-group .form-select {
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  height: 50px;
}
@media (max-width: 767px) {
  .form .form-group .form-control,
  .form .form-group .form-select {
    height: 55px;
    border-radius: 10px;
  }
}
.form .form-group .form-control:focus,
.form .form-group .form-select:focus {
  box-shadow: none;
  border: 1px solid #7000ff;
}
.form .form-group .special-input-group {
  display: grid;
  grid-template-columns: 70px auto;
}
.form .form-group .special-input-group select {
  border: 1px solid #d9d9d9;
  border-right: none;
  border-radius: 7px 0 0 7px;
  color: #818181;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  outline: none;
  position: relative;
  padding-left: 10px;
  z-index: 1;
}
.form .form-group .special-input-group select:after {
  content: "|";
  position: absolute;
  right: 10px;
  top: 0;
}
.form .form-group .special-input-group .form-control {
  border-left: none;
  border-radius: 0 7px 7px 0;
}
.form .form-group .special-input-group .form-control:focus {
  border: none !important;
}
.form .form-group .special-input-group:has(.form-control:focus) {
  border: 1px solid #7000ff;
  border-radius: 7px;
}
.form .agree-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.form .agree-wrapper input[type=checkbox] {
  display: none;
}
.form .agree-wrapper input[type=checkbox]:checked + span {
  background: #8b7ff8;
}
.form .agree-wrapper span {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .form .agree-wrapper span {
    width: 15px;
    height: 15px;
  }
  .form .agree-wrapper span i {
    font-size: 10px;
  }
}
.form .agree-wrapper strong {
  color: var(--color-5, #142029);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 767px) {
  .form .agree-wrapper strong {
    font-size: 12px;
    line-height: 12px;
  }
}

.back-arrow {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
@media (max-width: 767px) {
  .back-arrow {
    display: block;
  }
}

header {
  padding: 11px 0;
  background: #fff;
  box-shadow: 0px 3px 25px 0px rgba(194, 196, 205, 0.28);
}
header a.logo {
  width: 130px;
  height: 47.185px;
}
@media (max-width: 767px) {
  header a.logo {
    width: 75px;
    height: 27.222px;
  }
}
header a.logo img {
  width: 100%;
  height: 100%;
}

.main-wrapper-page {
  display: grid;
  grid-template-columns: 420px auto;
}
.main-wrapper-page:has(.right-sidebar.active) {
  grid-template-columns: auto 420px;
}
.main-wrapper-page .page-content {
  background: #fff;
}
.main-wrapper-page .page-content .mini-dashboard-wrapper {
  padding-top: 30px;
}
.main-wrapper-page .page-content .mini-dashboard-wrapper .dashboard-header {
  margin-bottom: 29px;
}
.main-wrapper-page .page-content .mini-dashboard-wrapper .dashboard-header h2 {
  font-weight: 600;
}
.main-wrapper-page .page-content .mini-dashboard-wrapper .dashboard-header .actions-wrapper {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background: #ebeaf1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 auto;
  column-gap: 2px;
}
.main-wrapper-page .page-content .mini-statics-wrapper {
  margin-top: 30px;
}
.main-wrapper-page .page-content .mini-statics-wrapper h2 {
  margin-bottom: 20px;
  font-weight: 600;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card {
  width: 100%;
  height: 146px;
  border-radius: 10px;
  padding: 21px 15px;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card.blue {
  background: #0fa9b8;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card.lt-pink {
  background: #fea861;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card.red-light {
  background: #df3e2e;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card.purple-light {
  background: #b481a2;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card .content-wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 13px;
  margin-bottom: 24px;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card .content-wrapper .icon-wrapper {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card .content-wrapper .icon-wrapper strong {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card .content-wrapper .right-content-wrapper p {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card .content-wrapper .right-content-wrapper h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card .img-wrapper {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.main-wrapper-page .page-content .mini-statics-wrapper .statics-card-wrapper .statics-card .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-sidebar {
  background: #ebeaf1;
  padding: 20px 24px;
  display: block;
}
@media (max-width: 767px) {
  .left-sidebar {
    display: none;
  }
}
.left-sidebar.active {
  display: none;
}
.left-sidebar .side-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.left-sidebar .side-bar-header .img-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #8b7ff8;
}
.left-sidebar .side-bar-header .img-wrapper img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left-sidebar .side-bar-header .setting-wrapper span:not(:last-of-type) {
  margin-right: 20px;
}
.left-sidebar .search-wrapper {
  margin-bottom: 20px;
}
.left-sidebar .search-wrapper .form-group {
  position: relative;
}
.left-sidebar .search-wrapper .form-group .form-control {
  padding: 10px 10px 10px 42px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #fff;
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.left-sidebar .search-wrapper .form-group .form-control::placeholder {
  color: #989898;
  font-size: 14px;
  font-weight: 400;
}
.left-sidebar .search-wrapper .form-group span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: inline-block;
  line-height: 0;
}
.left-sidebar .appointment-wrapper {
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  margin-bottom: 20px;
}
.left-sidebar .tab-button-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.left-sidebar .tab-button-wrapper .sub-button-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.left-sidebar .tab-button-wrapper .sub-button-wrapper .tab-button,
.left-sidebar .tab-button-wrapper .sub-button-wrapper .sub-tab-button {
  min-width: 66.4px;
  height: 50px;
  text-align: center;
  border-radius: 6px;
  background: #fff;
  padding: 10px 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-sidebar .tab-button-wrapper .sub-button-wrapper .tab-button strong,
.left-sidebar .tab-button-wrapper .sub-button-wrapper .sub-tab-button strong {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 5px;
  display: inline-block;
}
.left-sidebar .tab-button-wrapper .sub-button-wrapper .tab-button p,
.left-sidebar .tab-button-wrapper .sub-button-wrapper .sub-tab-button p {
  color: #989898;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  display: inline-block;
}
.left-sidebar .tab-button-wrapper .sub-button-wrapper .sub-tab-button {
  display: none;
}
.left-sidebar .tab-button-wrapper .sub-button-wrapper .sub-tab-button strong {
  margin-bottom: 0;
}
.left-sidebar .tab-button-wrapper:has(.sub-button-wrapper .tab-button.active) .sub-button-wrapper:has(.tab-button:not(.active)) {
  display: none;
}
.left-sidebar .tab-button-wrapper:has(.sub-button-wrapper .tab-button.active) .sub-button-wrapper:has(.tab-button.active) .sub-tab-button {
  display: flex;
}
.left-sidebar .tab-button-wrapper .tab-button {
  position: relative;
}
.left-sidebar .tab-button-wrapper .tab-button.active {
  background: #8b7ff8;
}
.left-sidebar .tab-button-wrapper .tab-button.active p,
.left-sidebar .tab-button-wrapper .tab-button.active strong {
  color: #fff;
}
.left-sidebar .tab-button-wrapper .tab-button.active:after {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #8b7ff8;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  font-size: 22px;
}
.left-sidebar .chat-wrapper {
  margin-top: 30px;
  height: calc(100vh - 360px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.left-sidebar .chat-wrapper .chat-item {
  display: grid;
  grid-template-columns: 60px auto 40px;
  align-items: center;
  grid-gap: 15px;
  position: relative;
  cursor: pointer;
}
.left-sidebar .chat-wrapper .chat-item:hover, .left-sidebar .chat-wrapper .chat-item.active {
  background: #d9d9d9;
  transition: all 0.3s ease-in-out;
}
.left-sidebar .chat-wrapper .chat-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #d9d9d9;
  height: 1px;
  width: calc(100% - 60px);
}
.left-sidebar .chat-wrapper .chat-item .img-wrapper {
  width: 60px;
  height: 60px;
}
.left-sidebar .chat-wrapper .chat-item .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left-sidebar .chat-wrapper .chat-item .content-wrapper strong {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 10px;
}
.left-sidebar .chat-wrapper .chat-item .content-wrapper p {
  color: #818181;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}
.left-sidebar .chat-wrapper .chat-item .content-wrapper p span {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
.left-sidebar .chat-wrapper .chat-item .circle {
  width: 20px;
  height: 20px;
  background: #8b7ff8;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.left-sidebar .chat-wrapper .chat-item .circle p {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}
.left-sidebar .chat-wrapper .chat-item.active {
  background: #d9d9d9;
}
.left-sidebar .chat-wrapper .new-chat {
  position: fixed;
  bottom: 20px;
  left: 340px;
  z-index: 1;
}
.left-sidebar .chat-wrapper .new-chat img {
  width: 30px;
  height: 30px;
}

.progress-bar-wrapper {
  width: 380px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .progress-bar-wrapper {
    width: 100%;
  }
}
.progress-bar-wrapper .progress {
  height: 3px;
  width: 300px;
  position: absolute;
  top: 9px;
  left: 30px;
  margin: 0 auto;
  --bs-progress-bar-bg: #8b7ff8;
}
@media (max-width: 767px) {
  .progress-bar-wrapper .progress {
    width: 85%;
    left: 16px;
  }
}
.progress-bar-wrapper .steps-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 40px auto;
}
.progress-bar-wrapper .steps-wrapper .step-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.progress-bar-wrapper .steps-wrapper .step-circle:not(:last-of-type) {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .progress-bar-wrapper .steps-wrapper .step-circle:not(:last-of-type) {
    margin-right: 26px;
  }
}
.progress-bar-wrapper .steps-wrapper .step-circle span {
  width: 20px;
  height: 20px;
  background: #e0e0e0;
  border-radius: 50%;
  color: #bebebe;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.progress-bar-wrapper .steps-wrapper .step-circle strong {
  color: #bebebe;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
@media (max-width: 767px) {
  .progress-bar-wrapper .steps-wrapper .step-circle strong {
    font-size: 8px;
    line-height: 8px;
  }
}
.progress-bar-wrapper .steps-wrapper .step-circle.active span {
  background: #8b7ff8;
  color: #fff;
}
.progress-bar-wrapper .steps-wrapper .step-circle.active strong {
  color: #000;
}
.progress-bar-wrapper.appointment-wrapper {
  width: 340px;
}
@media (max-width: 767px) {
  .progress-bar-wrapper.appointment-wrapper {
    width: 100%;
  }
}
.progress-bar-wrapper.appointment-wrapper .progress {
  width: 450px;
  left: 40px;
}
@media (max-width: 767px) {
  .progress-bar-wrapper.appointment-wrapper .progress {
    width: 300px;
  }
}
.progress-bar-wrapper.appointment-wrapper .steps-wrapper {
  margin: unset;
}
@media (max-width: 767px) {
  .progress-bar-wrapper.appointment-wrapper .steps-wrapper {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .progress-bar-wrapper.appointment-wrapper .steps-wrapper .step-circle {
    margin-right: 21px;
  }
}
.progress-bar-wrapper.appointment-wrapper .steps-wrapper .step-circle strong {
  font-size: 11px;
}
@media (max-width: 767px) {
  .progress-bar-wrapper.appointment-wrapper .steps-wrapper .step-circle strong {
    font-size: 8px;
    line-height: 8px;
  }
}

.profile-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 3px 25px 0px rgba(186, 188, 201, 0.21);
  border: none;
}
@media (max-width: 767px) {
  .profile-card {
    box-shadow: unset;
  }
}
.profile-card .card-body {
  height: calc(100vh - 215px);
  overflow-y: auto;
  overflow-x: hidden;
}
.profile-card #doctor-profile-form .doctor-profile-step {
  display: none;
}
.profile-card #doctor-profile-form .doctor-profile-step.active {
  display: block;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div {
  display: grid;
  grid-template-columns: 210px auto 50px;
  grid-gap: 15px;
}
@media (max-width: 767px) {
  .profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div {
    grid-template-columns: 100%;
  }
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div h3 {
  color: #142029;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div h3 {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
  }
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .main-image-wrapper {
  text-align: center;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .main-image-wrapper .img-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 7px;
  margin: 0 auto 10px;
}
@media (max-width: 767px) {
  .profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .main-image-wrapper .img-wrapper {
    width: 100px;
    height: 100px;
  }
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .main-image-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .main-image-wrapper .btn-style {
  width: 150px;
  height: 35px;
  border-radius: 7px;
  background: #8b7ff8;
}
@media (max-width: 767px) {
  .profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .main-image-wrapper .btn-style {
    width: 100px;
    height: 30px;
    font-size: 10px;
    line-height: 10px;
  }
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .content-wrapper {
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  padding: 30px 30px;
}
@media (max-width: 767px) {
  .profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .content-wrapper {
    padding: 25px 15px;
    border: 0.5px solid #000;
  }
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .content-wrapper:not(:first-of-type) {
  margin-top: 50px;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .content-wrapper .form-group {
  position: relative;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .content-wrapper .form-group label {
  position: absolute;
  top: -12px;
  left: 10px;
  background: #fff;
  padding: 5px;
  z-index: 2;
}
@media (max-width: 767px) {
  .profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .content-wrapper .form-group .form-control {
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid #000;
  }
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .content-wrapper .form-group .form-control:focus {
  box-shadow: none;
  border: 1px solid #7000ff;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .content-wrapper:has(.form-control:focus) {
  border: 1px solid #000;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .form-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .form-actions-wrapper {
    column-gap: 12px;
  }
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .form-delete-action-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .form-delete-action-wrapper {
    flex-direction: row;
  }
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .form-delete-action-wrapper span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ebeaf1;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .form-delete-action-wrapper span img {
  width: 20px;
  height: 20px;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .form-delete-action-wrapper span:hover {
  background: #7000ff;
}
.profile-card #doctor-profile-form .doctor-profile-step .step-form-inner-div .form-delete-action-wrapper span:hover img {
  filter: brightness(0) invert(1);
}

.log-in-main-wrapper .img-wrapper {
  width: 100%;
  height: 100vh;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .img-wrapper {
    height: 309px;
    border-radius: 0 0 20px 20px;
  }
}
.log-in-main-wrapper .img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .img-wrapper img {
    border-radius: 0 0 20px 20px;
  }
}
.log-in-main-wrapper .content-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper {
    height: unset;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper {
  text-align: center;
  padding: 178px 10%;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper {
    padding: 20px 20px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper h1 {
  color: #142029;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper p {
  color: #142029;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  margin: 15px 0 30px;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper p {
    margin: 10px 0 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper span {
  display: block;
  color: #142029;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper span {
    font-size: 12px;
    line-height: 12px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper span a {
  color: #8b7ff8;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-decoration-line: underline;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper span a {
    font-size: 12px;
    line-height: 12px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper .form {
  margin-top: 45px;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper .form {
    margin-top: 20px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper .form .form-group {
  position: relative;
}
.log-in-main-wrapper .content-wrapper .form-wrapper .form .form-group label {
  position: absolute;
  top: -12px;
  left: 10px;
  background: #fff;
  padding: 5px;
  z-index: 2;
}
.log-in-main-wrapper .content-wrapper .form-wrapper .form .form-group .form-control {
  height: 60px;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper .form .form-group .form-control {
    height: 55px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper .form .form-group .form-control:focus {
  box-shadow: none;
  border: 1px solid #7000ff;
}
.log-in-main-wrapper .content-wrapper .form-wrapper .form .form-group span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.log-in-main-wrapper .content-wrapper .form-wrapper .form .form-group:has(.form-control:focus) span i {
  color: #8b7ff8;
}
.log-in-main-wrapper .content-wrapper .form-wrapper .form .forget-password-btn {
  color: #8b7ff8;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-decoration-line: underline;
  display: inline-block;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper .form .forget-password-btn {
    font-size: 12px;
    line-height: 12px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper .form .btn-style {
  margin: 40px 0 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper .form .btn-style {
    margin: 20px 0;
    font-size: 18px;
    line-height: 18px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper .or-wrapper {
  margin: 0 auto;
  width: 252px;
  text-align: center;
  position: relative;
}
.log-in-main-wrapper .content-wrapper .form-wrapper .or-wrapper:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background: #b4b4b4;
  z-index: -1;
}
.log-in-main-wrapper .content-wrapper .form-wrapper .or-wrapper p {
  background: #fff;
  padding: 0 10px;
  display: inline-block;
  margin: 0;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper .or-wrapper p {
    font-size: 14px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper .social-media-partners {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper .social-media-partners {
    margin-top: 20px;
    justify-content: center;
    column-gap: 15px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper .social-media-partners li a.btn-style {
  width: 153.333px;
  height: 60px;
  column-gap: 10px;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper .social-media-partners li a.btn-style {
    width: 48px;
    height: 40px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper .social-media-partners li a.btn-style i {
  font-size: 25px;
  color: #fff;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper .social-media-partners li a.btn-style i {
    font-size: 18px;
  }
}
.log-in-main-wrapper .content-wrapper .form-wrapper .social-media-partners li a.btn-style span {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
@media (max-width: 767px) {
  .log-in-main-wrapper .content-wrapper .form-wrapper .social-media-partners li a.btn-style span {
    display: none;
  }
}

.appointment-haeder {
  position: relative;
  z-index: 4;
  padding: 11px 15px;
}
.appointment-haeder .patient-details {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}
@media (max-width: 767px) {
  .appointment-haeder .patient-details {
    flex-direction: column;
  }
}
.appointment-haeder .patient-details .left-div {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
  position: relative;
}
@media (max-width: 767px) {
  .appointment-haeder .patient-details .left-div {
    border-bottom: 1px solid #818181;
    padding-bottom: 5px;
    margin-bottom: 5px;
    align-items: center;
  }
}
.appointment-haeder .patient-details .left-div .img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .appointment-haeder .patient-details .left-div .img-wrapper {
    width: 30px;
    height: 30px;
  }
}
.appointment-haeder .patient-details .left-div .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.appointment-haeder .patient-details .left-div .content-wrapper .name {
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}
@media (max-width: 767px) {
  .appointment-haeder .patient-details .left-div .content-wrapper .name {
    font-size: 8px;
    line-height: 8px;
  }
}
.appointment-haeder .patient-details .left-div .content-wrapper .name span {
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
@media (max-width: 767px) {
  .appointment-haeder .patient-details .left-div .content-wrapper .name span {
    font-size: 8px;
    line-height: 8px;
  }
}
.appointment-haeder .patient-details .left-div .content-wrapper p {
  color: #818181;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
@media (max-width: 767px) {
  .appointment-haeder .patient-details .left-div .content-wrapper p {
    font-size: 8px;
    line-height: 8px;
  }
}
.appointment-haeder .patient-details .left-div .content-wrapper p span {
  font-weight: 700;
}
.appointment-haeder .patient-details .right-div p {
  color: #000;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
@media (max-width: 767px) {
  .appointment-haeder .patient-details .right-div p {
    font-size: 8px;
    line-height: 12px;
  }
  .appointment-haeder .patient-details .right-div p br {
    display: none;
  }
}
.appointment-haeder .action-wrapper {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 0.5px solid #ebeaf1;
  width: 192px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .appointment-haeder .action-wrapper {
    width: 102px;
  }
}
.appointment-haeder .action-wrapper li:not(:last-of-type) a {
  position: relative;
}
.appointment-haeder .action-wrapper li:not(:last-of-type) a:after {
  content: "";
  position: absolute;
  background: #ebeaf1;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
}
.appointment-haeder .action-wrapper li a {
  width: 64px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
@media (max-width: 767px) {
  .appointment-haeder .action-wrapper li a {
    width: 34px;
    height: 30px;
  }
}
.appointment-haeder .action-wrapper li a img {
  width: 24px;
  height: 24px;
}
@media (max-width: 767px) {
  .appointment-haeder .action-wrapper li a img {
    width: 14px;
    height: 14px;
  }
}
.appointment-haeder .action-wrapper li:hover a, .appointment-haeder .action-wrapper li.active a {
  background: #ebeaf1;
  border: 1px solid transparent;
}

.appointment-page-content .main-page .inner-page-wrapper {
  background: #fff;
  height: calc(100vh - 130px);
  position: relative;
  padding-top: 40px;
}
@media (max-width: 767px) {
  .appointment-page-content .main-page .inner-page-wrapper {
    height: calc(100vh - 145px);
  }
}
.appointment-page-content .main-page .inner-page-wrapper .call-permission-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ebeaf1;
  padding: 30px 0;
}
.appointment-page-content .main-page .inner-page-wrapper .call-permission-wrapper p {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .appointment-page-content .main-page .inner-page-wrapper .call-permission-wrapper p {
    font-size: 10px;
    line-height: 10px;
  }
}
.appointment-page-content .main-page .inner-page-wrapper .call-permission-wrapper .call-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.appointment-page-content .main-page .inner-page-wrapper .call-permission-wrapper .call-buttons .btn-style {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .appointment-page-content .main-page .inner-page-wrapper .call-permission-wrapper .call-buttons .btn-style {
    width: 70px;
    height: 25px;
    font-size: 10px;
  }
}
.appointment-page-content .main-page .inner-page-wrapper .call-permission-wrapper .call-buttons .btn-style:hover {
  border: 1px solid #8b7ff8;
  color: #8b7ff8;
  background: transparent !important;
}
.appointment-page-content .main-page .chat-input-wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.appointment-page-content .main-page .chat-input-wrapper .button-wraaper {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 767px) {
  .appointment-page-content .main-page .chat-input-wrapper .button-wraaper {
    column-gap: 20px;
  }
}
.appointment-page-content .main-page .chat-input-wrapper .button-wraaper span {
  line-height: 0;
  border-radius: 3px;
}
.appointment-page-content .main-page .chat-input-wrapper .input-wrapper {
  width: 100%;
  position: relative;
}
.appointment-page-content .main-page .chat-input-wrapper .input-wrapper span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  line-height: 0;
  border-radius: 3px;
}
.appointment-page-content .main-page .chat-input-wrapper .input-wrapper .form-control:focus {
  box-shadow: unset;
  border: 1px solid #8b7ff8;
}
.appointment-page-content .main-page .video-wrapper {
  height: calc(100vh - 130px);
  position: relative;
}
.appointment-page-content .main-page .video-wrapper .incoming-video {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.appointment-page-content .main-page .video-wrapper .incoming-video img {
  width: 100%;
  height: 100%;
}
.appointment-page-content .main-page .video-wrapper .outgoing-video {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  right: 30px;
}
.appointment-page-content .main-page .audio-wrapper {
  height: calc(100vh - 130px);
  border-radius: 15px;
  background: #8b7ff8;
  max-width: 100%;
  position: relative;
  margin: 10px;
}
.appointment-page-content .main-page .audio-wrapper .incoming-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appointment-page-content .main-page .audio-wrapper .incoming-wrapper .img-wrapper {
  width: 174px;
  height: 174px;
  border-radius: 50%;
}
.appointment-page-content .main-page .audio-wrapper .incoming-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.appointment-page-content .main-page .audio-wrapper .incoming-wrapper strong {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  margin: 20px 0;
  display: inline-block;
}
.appointment-page-content .main-page .audio-wrapper .incoming-wrapper span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
}
.appointment-page-content .main-page .call-action-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
}
.appointment-page-content .main-page .call-action-btn .timer {
  width: 70px;
  height: 30px;
  margin: 0 auto;
  border-radius: 6px;
  border: 0.5px solid #000;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.appointment-page-content .main-page .call-action-btn .btn-wrapper {
  display: flex;
  align-items: center;
  column-gap: 13px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  padding: 10px;
}
.appointment-page-content .main-page .call-action-btn .btn-wrapper li:not(:last-of-type) span {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right-sidebar {
  background: #ebeaf1;
  padding: 33px 20px;
  display: none;
  position: relative;
}
.right-sidebar.active {
  display: block;
}
.right-sidebar .right-sidebar-header {
  padding-bottom: 18px;
  border-bottom: 1px solid #bebebe;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-sidebar .right-sidebar-header h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
}
.right-sidebar .prescription-form-wrapper .steps-indicator-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.right-sidebar .prescription-form-wrapper .steps-indicator-wrapper .indicator-step {
  text-align: center;
}
.right-sidebar .prescription-form-wrapper .steps-indicator-wrapper .indicator-step span {
  margin: 0 auto 5px;
  width: 20px;
  height: 20px;
  background: #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bebebe;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  line-height: unset;
}
.right-sidebar .prescription-form-wrapper .steps-indicator-wrapper .indicator-step p {
  color: #bebebe;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.right-sidebar .prescription-form-wrapper .steps-indicator-wrapper .indicator-step.active span {
  background: #8b7ff8;
  color: #fff;
}
.right-sidebar .prescription-form-wrapper .steps-indicator-wrapper .indicator-step.active P {
  color: #000;
}
.right-sidebar .prescription-form-wrapper #prescription-form {
  height: calc(100vh - 188px);
  position: relative;
}
.right-sidebar .prescription-form-wrapper #prescription-form .prescription-step .action-div {
  position: absolute;
  bottom: -15px;
  left: 0;
}
.right-sidebar .prescription-form-wrapper #prescription-form .prescription-step .action-div .compile-btn {
  background: #8b7ff8;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  height: 50px;
}
.right-sidebar .prescription-form-wrapper #prescription-form .prescription-step .action-div .compile-btn.active {
  display: none;
}
.right-sidebar .prescription-form-wrapper #prescription-form .prescription-step .action-div .done-btn {
  display: none;
  background: #8b7ff8;
  color: #fff;
}
.right-sidebar .prescription-form-wrapper #prescription-form .prescription-step .action-div .done-btn.active {
  display: block;
}
.right-sidebar .prescription-form-wrapper #prescription-form .prescription-step .action-div .step-btn {
  height: 50px;
  background: #fff;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.right-sidebar .prescription-form-wrapper #prescription-form .prescription-step .action-div .btn-style:active {
  background: #8b7ff8;
  color: #fff;
}
.right-sidebar .prescription-form-wrapper #prescription-form .prescription-step .action-div:has(.done-btn.active) .compile-btn {
  display: none;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div {
  height: calc(100vh - 300px);
  overflow-y: auto;
  overflow-x: hidden;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div.active {
  display: none;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div .selected-wrapper {
  margin-bottom: 20px;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div .selected-wrapper strong {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  margin-bottom: 10px;
  display: inline-block;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div .selected-wrapper .selected {
  border-radius: 10px;
  min-height: 160px;
  background: #fff;
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
  padding: 11px 20px 20px 10px;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div .selected-wrapper .selected .tag {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  min-width: 40px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div .selecting-wrapper strong {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  margin-bottom: 10px;
  display: inline-block;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div .selecting-wrapper .selecting {
  border-radius: 10px;
  min-height: 160px;
  background: #fff;
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
  padding: 11px 20px 20px 10px;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div .selecting-wrapper .selecting .badge {
  min-width: 60px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;
}
.right-sidebar .prescription-form-wrapper #prescription-form .inner-div .selecting-wrapper .selecting .badge span {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}
.right-sidebar .compile-wrapper {
  background: #fff;
  border-radius: 10px;
  padding: 20px 18px;
  height: calc(100vh - 238px);
  position: absolute;
  z-index: 3;
  width: 95%;
  top: 87px;
  left: 9px;
  display: none;
}
.right-sidebar .compile-wrapper.active {
  display: block;
}
.right-sidebar .compile-wrapper .search-wrapper {
  position: relative;
}
.right-sidebar .compile-wrapper .search-wrapper span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  line-height: unset;
  display: inline-block;
}
.right-sidebar .compile-wrapper .search-wrapper span:last-of-type {
  left: unset;
  right: 10px;
}
.right-sidebar .compile-wrapper .search-wrapper .form-control.compile-search-input {
  padding: 10px 32px 16px;
  border: none;
  color: #989898;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.right-sidebar .compile-wrapper .search-wrapper .form-control.compile-search-input::placeholder {
  color: #989898;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.right-sidebar .compile-wrapper .search-wrapper .form-control.compile-search-input:focus {
  box-shadow: none;
  outline: none;
}
.right-sidebar .compile-wrapper .content-wrapper {
  border-top: 0.5px solid #818181;
  padding-top: 13px;
  max-height: calc(100% - 37px);
  overflow-y: auto;
  overflow-x: hidden;
}
.right-sidebar .compile-wrapper .content-wrapper .item {
  padding: 9px 10px;
  border-radius: 5px;
}
.right-sidebar .compile-wrapper .content-wrapper .item span {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}
.right-sidebar .compile-wrapper .content-wrapper .item:hover, .right-sidebar .compile-wrapper .content-wrapper .item:active, .right-sidebar .compile-wrapper .content-wrapper .item.active {
  background: #d9d9d9;
}
.right-sidebar .compile-wrapper .content-wrapper .item:not(:last-of-type) {
  margin-bottom: 6px;
}
.right-sidebar .compile-wrapper .content-wrapper .no-result-wrapper {
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.right-sidebar .compile-wrapper .content-wrapper .no-result-wrapper p {
  color: #818181;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
}
.right-sidebar .compile-wrapper .content-wrapper .no-result-wrapper .add-new-button {
  color: #7000ff;
  appearance: none;
  outline: none;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 12px;
  text-decoration: underline;
}

.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper {
  padding: 30px;
  height: calc(100vh - 230px);
  overflow-y: auto;
  overflow-x: hidden;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item {
  display: flex;
  align-items: flex-start;
  column-gap: 24px;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  top: -10px;
  flex: 0 0 50px;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .img-wrapper img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .content-wrapper {
  padding: 22px 20px;
  border-radius: 10px;
  background: #ebeaf1;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 22px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .content-wrapper:after {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ebeaf1;
  position: absolute;
  top: -1px;
  left: -9px;
  font-size: 23px;
  transform: rotate(61deg);
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .content-wrapper p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .content-wrapper small {
  color: rgba(0, 0, 0, 0.25);
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 2px;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .dropdown {
  position: relative;
  left: -10px;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .dropdown .dropdown-toggle {
  width: 20px;
  height: 13px;
  border: 1px solid #000;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #000;
  background: transparent;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .dropdown .dropdown-toggle:after {
  content: unset;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .dropdown .dropdown-menu {
  padding: 10px 5px;
  border: none;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.1);
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .dropdown .dropdown-menu .dropdown-item img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item .dropdown .dropdown-menu .dropdown-item span {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item:not(.doctor) .dropdown {
  display: none;
}
.appoinment-book-step-wrapper .book-appoinment-step .chat-body-wrapper .chat-item-wrapper .chat-item:not(:last-of-type) {
  margin-bottom: 49px;
}

/*# sourceMappingURL=main.css.map */
