@import "../fonts/stylesheet.css";

$mobileScreen:767px;

$sans: "Open Sans";
$inter: "Inter";

$white: #fff;
$black: #000;

$dk-text:#101014;

$gray: #ebeaf1;
$primary: #8b7ff8;
$purple: #7000ff;
$blue: #1e87fc;
$dark-gray: #4b5a80;

$color-1: #989898;
$color-2: #818181;
