@import "./standard.scss";
header {
  padding: 11px 0;
  background: $white;
  box-shadow: 0px 3px 25px 0px rgba(194, 196, 205, 0.28);

  a.logo {
    width: 130px;
    height: 47.185px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.main-wrapper-page {
  display: grid;
  grid-template-columns: 420px auto;
  &:has(.right-sidebar.active) {
    grid-template-columns: auto 420px;
  }
  .page-content {
    background: $white;
    .mini-dashboard-wrapper {
      padding-top: 30px;
      .dashboard-header {
        margin-bottom: 29px;

        .actions-wrapper {
          width: 150px;
          height: 35px;
          border-radius: 5px;
          background: $gray;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0 0 auto;
          column-gap: 2px;
        }
      }
    }
    .mini-statics-wrapper {
      margin-top: 30px;
      h2 {
        margin-bottom: 20px;
      }
      .statics-card-wrapper {
        .statics-card {
          width: 100%;
          height: 146px;
          border-radius: 10px;
          padding: 21px 15px;
          &.blue {
            background: #0fa9b8;
          }
          &.lt-pink {
            background: #fea861;
          }
          &.red-light {
            background: #df3e2e;
          }
          &.purple-light {
            background: #b481a2;
          }
          .content-wrapper {
            display: flex;
            align-items: flex-start;
            column-gap: 13px;
            margin-bottom: 24px;
            .icon-wrapper {
              width: 35px;
              height: 35px;
              border-radius: 5px;
              background: rgba(255, 255, 255, 0.15);
              display: inline-flex;
              align-items: center;
              justify-content: center;
              strong {
                color: $white;
                font-size: 22px;
                font-weight: 600;
                line-height: 22px;
              }
            }
            .right-content-wrapper {
              p {
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                line-height: 12px;
              }
              h3 {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
              }
            }
          }
          .img-wrapper {
            width: 40px;
            height: 40px;
            margin: 0 auto;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.left-sidebar {
  background: $gray;
  padding: 20px 24px;
  display: block;
  &.active {
    display: none;
  }
  .side-bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .img-wrapper {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #8b7ff8;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .setting-wrapper {
      span {
        &:not(:last-of-type) {
          margin-right: 20px;
        }
      }
    }
  }
  .search-wrapper {
    margin-bottom: 20px;
    .form-group {
      position: relative;
      .form-control {
        padding: 10px 10px 10px 42px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background: $white;
        color: $color-1;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        &::placeholder {
          color: $color-1;
          font-size: 14px;
          font-weight: 400;
        }
      }
      span {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        display: inline-block;
        line-height: 0;
      }
    }
  }
  .appointment-wrapper {
    width: 100%;
    height: 70px;
    border-radius: 15px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
    margin-bottom: 20px;
  }
  .tab-button-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    .sub-button-wrapper {
      display: flex;
      align-items: center;
      column-gap: 10px;
      .tab-button,
      .sub-tab-button {
        min-width: 66.4px;
        height: 50px;
        text-align: center;
        border-radius: 6px;
        background: $white;
        padding: 10px 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        strong {
          color: $black;
          font-size: 12px;
          font-weight: 700;
          line-height: 14px;
          margin-bottom: 5px;
          display: inline-block;
        }
        p {
          color: $color-1;
          font-size: 9px;
          font-style: normal;
          font-weight: 400;
          line-height: 11px;
          display: inline-block;
        }
      }
      .sub-tab-button {
        display: none;
        strong {
          margin-bottom: 0;
        }
      }
    }
    &:has(.sub-button-wrapper .tab-button.active) {
      .sub-button-wrapper {
        &:has(.tab-button:not(.active)) {
          display: none;
        }
        &:has(.tab-button.active) {
          .sub-tab-button {
            display: flex;
          }
        }
      }
    }
    .tab-button {
      position: relative;
      &.active {
        background: $primary;
        p,
        strong {
          color: $white;
        }

        &:after {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: $primary;
          position: absolute;
          top: 50%;
          right: -6px;
          transform: translateY(-50%);
          font-size: 22px;
        }
      }
    }
  }
  .chat-wrapper {
    margin-top: 30px;
    height: calc(100vh - 360px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    .chat-item {
      //   border-top: 1px solid #d9d9d9;
      display: grid;
      grid-template-columns: 60px auto 40px;
      align-items: center;
      grid-gap: 15px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: #d9d9d9;
        height: 1px;
        width: calc(100% - 60px);
      }
      .img-wrapper {
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .content-wrapper {
        strong {
          color: $black;
          font-size: 14px;
          font-weight: 600;
          line-height: 14px;
          margin-bottom: 10px;
        }
        p {
          color: #818181;
          font-size: 12px;
          line-height: 12px;
          font-weight: 700;
          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
      .circle {
        width: 20px;
        height: 20px;
        background: $primary;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        p {
          color: $white;
          font-size: 12px;
          font-weight: 600;
          line-height: 12px;
        }
      }
      &.active {
        background: #d9d9d9;
      }
    }
    .new-chat {
      position: fixed;
      bottom: 20px;
      left: 340px;
      z-index: 1;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
.progress-bar-wrapper {
  width: 380px;
  position: relative;
  margin: 0 auto;
  .progress {
    height: 3px;
    width: 300px;
    position: absolute;
    top: 9px;
    left: 30px;
    margin: 0 auto;
    --bs-progress-bar-bg: #8b7ff8;
  }
  .steps-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin: 40px auto;
    .step-circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      &:not(:last-of-type) {
        margin-right: 50px;
      }
      span {
        width: 20px;
        height: 20px;
        background: #e0e0e0;
        border-radius: 50%;
        color: #bebebe;
        font-family: $sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
      }
      strong {
        color: #bebebe;
        text-align: center;
        font-family: $sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
      }

      &.active {
        span {
          background: #8b7ff8;
          color: $white;
        }
        strong {
          color: $black;
        }
      }
    }
  }
  &.appointment-wrapper {
    width: 545px;
    .progress {
      width: 450px;
      left: 40px;
    }
    .steps-wrapper {
      margin: unset;
      .step-circle {
        strong {
          font-size: 11px;
        }
      }
    }
  }
}
// doctor profile scss start
.profile-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 3px 25px 0px rgba(186, 188, 201, 0.21);
  border: none;
  .card-body {
    height: calc(100vh - 215px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  #doctor-profile-form {
    .doctor-profile-step {
      display: none;
      &.active {
        display: block;
      }
      .step-form-inner-div {
        display: grid;
        grid-template-columns: 210px auto 50px;
        grid-gap: 15px;
        h3 {
          color: #142029;
          font-size: 20px;
          font-weight: 600;
          line-height: 20px;
          margin-bottom: 30px;
        }
        .main-image-wrapper {
          text-align: center;

          .img-wrapper {
            width: 150px;
            height: 150px;
            border-radius: 7px;
            margin: 0 auto 10px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .btn-style {
            width: 150px;
            height: 35px;
            border-radius: 7px;
            background: #8b7ff8;
          }
        }
        .content-wrapper {
          border-radius: 10px;
          border: 1px solid #d9d9d9;
          padding: 30px 30px;
          &:not(:first-of-type) {
            margin-top: 50px;
          }
          .form-group {
            position: relative;
            label {
              position: absolute;
              top: -12px;
              left: 10px;
              background: #fff;
              padding: 5px;
              z-index: 2;
            }
            .form-control {
              &:focus {
                box-shadow: none;
                border: 1px solid $purple;
              }
            }
          }
          &:has(.form-control:focus) {
            border: 1px solid $black;
          }
        }

        .form-actions-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 30px;
          margin-top: 30px;
        }
        .form-delete-action-wrapper {
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: center;
          justify-content: center;
          span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid #ebeaf1;
            img {
              width: 20px;
              height: 20px;
            }
            &:hover {
              background: $purple;
              img {
                filter: brightness(0) invert(1);
              }
            }
          }
        }
      }
    }
  }
}

// login -page scss start

.log-in-main-wrapper {
  .img-wrapper {
    width: 100%;
    height: 100vh;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .content-wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;

    .form-wrapper {
      text-align: center;
      padding: 178px 10%;
      h1 {
        color: #142029;
        font-family: $sans;
        font-size: 38px;
        font-weight: 700;
        line-height: 38px;
      }
      p {
        color: #142029;
        font-family: $sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
        margin: 15px 0 30px;
      }
      span {
        display: block;
        color: #142029;
        font-family: $sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        a {
          color: #8b7ff8;
          font-size: 18px;
          font-weight: 600;
          line-height: 20px;
          text-decoration-line: underline;
        }
      }
      .form {
        margin-top: 45px;
        .form-group {
          position: relative;
          label {
            position: absolute;
            top: -12px;
            left: 10px;
            background: #fff;
            padding: 5px;
            z-index: 2;
          }
          .form-control {
            height: 60px;
            &:focus {
              box-shadow: none;
              border: 1px solid $purple;
            }
          }
          span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
          }
          &:has(.form-control:focus) {
            span {
              i {
                color: #8b7ff8;
              }
            }
          }
        }
        .forget-password-btn {
          color: #8b7ff8;
          font-family: $sans;
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          text-decoration-line: underline;
          display: inline-block;
        }
        .btn-style {
          margin: 40px 0 30px;
          font-size: 24px;
          font-weight: 600;
          line-height: 24px;
        }
      }
      .or-wrapper {
        margin: 0 auto;
        width: 252px;
        text-align: center;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: 1px;
          width: 100%;
          background: #b4b4b4;
          z-index: -1;
        }
        p {
          background: #fff;
          padding: 0 10px;
          display: inline-block;
          margin: 0;
        }
      }
      .social-media-partners {
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-top: 40px;
        li {
          a.btn-style {
            width: 153.333px;
            height: 60px;
            column-gap: 10px;
            i {
              font-size: 25px;
              color: #fff;
            }
            span {
              color: #fff;
              font-size: 18px;
              font-weight: 600;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}

// book Apoinment page scss start

.appointment-haeder {
  position: relative;
  z-index: 4;
  padding: 11px 15px;
  .patient-details {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    .left-div {
      display: flex;
      align-items: flex-start;
      column-gap: 10px;
      .img-wrapper {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
        }
      }
      .content-wrapper {
        .name {
          color: #000;
          font-family: $sans;
          font-size: 14px;
          font-weight: 600;
          line-height: 14px;
          span {
            color: #000;
            font-family: $sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
          }
        }
        p {
          color: #818181;
          font-family: $sans;
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
          span {
            font-weight: 700;
          }
        }
      }
    }
    .right-div {
      p {
        color: $black;
        font-family: $sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }
  .action-wrapper {
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 0.5px solid #ebeaf1;
    width: 192px;
    margin-left: auto;
    li {
      &:not(:last-of-type) {
        a {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            background: #ebeaf1;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            height: 60%;
            width: 1px;
          }
        }
      }
      a {
        width: 64px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        img {
          width: 24px;
          height: 24px;
        }
      }
      &:hover,
      &.active {
        a {
          background: #ebeaf1;
        }
      }
    }
  }
}
.appointment-page-content {
  .main-page {
    .inner-page-wrapper {
      background: $white;
      height: calc(100vh - 130px);
      position: relative;
      padding-top: 40px;
      .call-permission-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $gray;
        padding: 30px 0;
        p {
          color: $black;
          font-size: 18px;
          font-weight: 600;
          line-height: 18px;
          margin-bottom: 20px;
        }
        .call-buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 20px;
          .btn-style {
            width: 100px;
            height: 40px;
            border-radius: 5px;
            &:hover {
              border: 1px solid $primary;
              color: $primary;
              background: transparent !important;
            }
          }
        }
      }
    }
    .chat-input-wrapper {
      padding: 10px 30px;
      display: flex;
      align-items: center;
      column-gap: 20px;
      .button-wraaper {
        display: flex;
        align-items: center;
        column-gap: 40px;
        span {
          line-height: 0;
          border-radius: 3px;
        }
      }
      .input-wrapper {
        width: 100%;
        position: relative;
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
          line-height: 0;
          border-radius: 3px;
        }
        .form-control {
          &:focus {
            box-shadow: unset;
            border: 1px solid $primary;
          }
        }
        // &:has(.form-control:focus) {
        //   span {
        //     background: red;
        //     padding: 5px;
        //   }
        // }
      }
    }
  }
}

// right-sidebar scss start
.right-sidebar {
  background: $gray;
  padding: 33px 20px;
  display: none;
  &.active {
    display: block;
  }
  .right-sidebar-header {
    padding-bottom: 18px;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      color: $black;
      font-size: 18px;
      font-weight: 600;
      line-height: 16px;
    }
  }
  .prescription-form-wrapper {
    .steps-indicator-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .indicator-step {
        text-align: center;
        span {
          margin: 0 auto 5px;
          width: 20px;
          height: 20px;
          background: #e0e0e0;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #bebebe;
          font-family: $sans;
          font-size: 12px;
          font-weight: 600;
          line-height: 12px;
          line-height: unset;
        }
        p {
          color: #bebebe;
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
        }
        &.active {
          span {
            background: #8b7ff8;
            color: $white;
          }
          P {
            color: $black;
          }
        }
      }
    }
    #prescription-form {
      height: calc(100vh - 188px);
      position: relative;
      .prescription-step {
        .action-div {
          position: absolute;
          bottom: -15px;
          left: 0;

          .compile-btn {
            background: #8b7ff8;
            color: $white;
            font-size: 16px;
            font-weight: 600;
            line-height: 16px;
            height: 50px;
            margin-bottom: 10px;
          }
          .step-btn {
            height: 50px;
            background: $white;
            border-radius: 5px;
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
          }
          .btn-style {
            &:active {
              background: #8b7ff8;
              color: $white;
            }
          }
        }
      }
      .inner-div {
        height: calc(100vh - 300px);
        overflow-y: auto;
        overflow-x: hidden;
        &.active {
          display: none;
        }
        .selected-wrapper {
          margin-bottom: 20px;
          strong {
            color: $black;
            font-size: 12px;
            font-weight: 600;
            line-height: 12px;
            margin-bottom: 10px;
            display: inline-block;
          }
          .selected {
            border-radius: 10px;
            min-height: 160px;
            background: $white;
            display: flex;
            column-gap: 8px;
            flex-wrap: wrap;
            padding: 11px 20px 20px 10px;
            .tag {
              color: $black;
              font-size: 12px;
              font-weight: 600;
              line-height: 12px;
              min-width: 40px;
              height: 25px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .selecting-wrapper {
          strong {
            color: $black;
            font-size: 12px;
            font-weight: 600;
            line-height: 12px;
            margin-bottom: 10px;
            display: inline-block;
          }
          .selecting {
            border-radius: 10px;
            min-height: 160px;
            background: $white;
            display: flex;
            column-gap: 8px;
            flex-wrap: wrap;
            padding: 11px 20px 20px 10px;
            .badge {
              min-width: 60px;
              height: 25px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
              cursor: pointer;
              span {
                color: $white;
                font-size: 12px;
                font-weight: 600;
                line-height: 12px;
              }
              i {
              }
            }
          }
        }
      }
      .compile-wrapper {
        background: $white;
        border-radius: 10px;
        padding: 20px 18px;
        height: calc(100vh - 238px);
        position: absolute;
        width: 100%;
        top: -62px;
        display: none;
        &.active {
          display: block;
        }
        .search-wrapper {
          position: relative;
          span {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            line-height: unset;
            display: inline-block;
            &:last-of-type {
              left: unset;
              right: 10px;
            }
          }
          .form-control {
            &.compile-search-input {
              padding: 10px 32px 16px;
              border: none;
              color: #989898;
              font-size: 12px;
              font-weight: 400;
              line-height: 12px;
              &::placeholder {
                color: #989898;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
              }
              &:focus {
                box-shadow: none;
                outline: none;
              }
            }
          }
        }
        .content-wrapper {
          border-top: 0.5px solid #818181;
          padding-top: 13px;
          max-height: calc(100% - 37px);
          overflow-y: auto;
          overflow-x: hidden;

          .item {
            padding: 9px 10px;
            border-radius: 5px;
            span {
              color: $black;
              font-size: 12px;
              font-weight: 600;
              line-height: 12px;
            }
            &:hover,
            &:active,
            &.active {
              background: #d9d9d9;
            }
            &:not(:last-of-type) {
              margin-bottom: 6px;
            }
          }
        }
      }
    }
  }
}

.appoinment-book-step-wrapper {
  .book-appoinment-step {
    .chat-body-wrapper {
      padding: 30px;
      height: calc(100vh - 230px);
      overflow-y: auto;
      overflow-x: hidden;
      .chat-item-wrapper {
        .chat-item {
          display: flex;
          align-items: flex-start;
          column-gap: 24px;
          .img-wrapper {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            position: relative;
            top: -10px;
            flex: 0 0 50px;
            img {
              border-radius: 5px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .content-wrapper {
            padding: 22px 20px;
            border-radius: 10px;
            background: #ebeaf1;
            display: inline-flex;
            flex-wrap: wrap;
            padding: 22px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: relative;
            &:after {
              content: "\f04b";
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              color: #ebeaf1;
              position: absolute;
              top: -1px;
              left: -9px;
              font-size: 23px;
              transform: rotate(61deg);
            }
            p {
              color: $black;
              font-size: 16px;
              font-weight: 400;
              line-height: 16px;
            }
            small {
              color: rgba($black, 0.25);
              font-family: $sans;
              font-size: 12px;
              font-weight: 400;
              line-height: 2px;
            }
          }
          .dropdown {
            position: relative;
            left: -10px;
            .dropdown-toggle {
              width: 20px;
              height: 13px;
              border: 1px solid $black;
              border-radius: 25px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              font-size: 10px;
              color: $black;
              background: transparent;
              &:after {
                content: unset;
              }
            }
            .dropdown-menu {
              padding: 10px 5px;
              border: none;
              border-radius: 7px;
              background: $white;
              box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.1);
              .dropdown-item {
                img {
                  margin-right: 10px;
                  width: 16px;
                  height: 16px;
                }
                span {
                  color: $black;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 14px;
                }
              }
            }
          }
          &:not(.doctor) {
            .dropdown {
              display: none;
            }
          }
          &:not(:last-of-type) {
            margin-bottom: 49px;
          }
        }
      }
    }
  }
}
