@import "./variable";

body {
  font-family: $sans;
  &.active {
    overflow: hidden;
  }
}
* {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #fafafa;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $purple;
  }
}
@media (min-width: 1920px) {
  .container-fluid {
    max-width: 1920px;
    margin: 0 auto;
  }
}
.container {
  max-width: 1170px;
}

a {
  display: inline-block;
  text-decoration: none;
}
span {
  display: inline-block;
  font-family: $sans;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
.h1 {
  font-size: 30px;
  line-height: 35px;
  font-family: $sans;
  margin: 0;

  &.small {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;

    @media (max-width: $mobileScreen) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

h2,
.h2 {
  font-family: $sans;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  &.small {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
  }
}
h3,
.h3 {
  font-family: $sans;
  margin: 0;
}
h4,
.h4 {
  font-family: $sans;
  margin: 0;
}
h5,
.h5 {
  font-family: $sans;
  margin: 0;
}

.btn-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 50px;
  border-radius: 10px;
  background: transparent;
  color: $black;
  font-family: $sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &.small {
    width: 68px;
    height: 25px;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    border-radius: 3px;
  }
  &.active,
  &:hover {
    color: $white;
    background: $primary;
    border: 1px solid $primary;
  }
  &.new-chat {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background: $primary;
    box-shadow: 0px 3px 10px 0px rgba(57, 57, 57, 0.3);
  }
  &.next-btn {
    background: $primary;
    color: $white;
    min-width: 223px;
    height: 72px;
    padding: 24px 0px;
    @media (max-width: $mobileScreen) {
      min-width: 152px;
      height: 45px;
      border-radius: 5px;
    }
  }

  &.previous-btn {
    min-width: 223px;
    height: 72px;
    padding: 24px 0px;
    background: #ebeaf1;
    @media (max-width: $mobileScreen) {
      min-width: 152px;
      height: 45px;
      border-radius: 5px;
    }
    &:hover {
      color: $white;
      background: $primary;
      border: 1px solid $primary;
    }
  }
  &.transparent {
    background: transparent;
    border: none;
    color: $purple;
    justify-content: flex-start;
    &:hover {
      background: transparent;
      color: $purple;
    }
  }
  &.facebook-btn {
    background: #4267b2;
  }
  &.google-btn {
    background: #4285f4;
  }
  &.apple-btn {
    background: #555;
  }
  &.dropdown-btn {
    width: 90px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #8b7ff8;
    background: rgba(139, 127, 248, 0.1);
    justify-content: space-between;
    padding: 5px 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  &.icon-btn {
    column-gap: 8px;
    align-items: center;
  }
  &.no-border {
    border: none;
  }
  &.thin-btn {
    background: $primary;
    color: $white;
    text-align: center;
    height: 30px;
    min-width: 200px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    justify-content: center;
  }
}
p {
  font-family: $sans;
  margin-bottom: 0;
}
strong {
  font-family: $sans;
  display: inline-block;
}

.dashboard-card {
  width: 100%;
  height: 140px;
  border-radius: 10px;
  padding: 20px 15px;
  &.purple {
    background: $purple url("../images/total-patient-bg-img.svg") no-repeat;
    background-position: 90% 55%;
  }
  &.blue {
    background: $blue url("../images/appointment-bg-image.svg") no-repeat;
    background-position: 90% 55%;
  }
  &.dark-gray {
    background: $dark-gray url("../images/review-bg-image.svg") no-repeat;
    background-position: 90% 55%;
  }
  p {
    color: $white;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px; /* 100% */
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  strong {
    color: $white;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }
}

.chat-wrapper {
  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #dedede;
  }

  &::-webkit-scrollbar-thumb {
    background: #8b7ff8;
  }
}

.form {
  .form-group {
    margin-bottom: 30px;
    label {
      color: #818181;
      font-family: $sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }
    .form-control,
    .form-select {
      border-radius: 7px;
      border: 1px solid #d9d9d9;
      color: #000;
      font-family: $sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      height: 50px;
      @media (max-width: $mobileScreen) {
        height: 55px;
        border-radius: 10px;
      }
      &:focus {
        box-shadow: none;
        border: 1px solid $purple;
      }
    }
    .special-input-group {
      display: grid;
      grid-template-columns: 70px auto;
      select {
        border: 1px solid #d9d9d9;
        border-right: none;
        border-radius: 7px 0 0 7px;
        color: #818181;
        font-family: $sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        outline: none;
        position: relative;
        padding-left: 10px;
        z-index: 1;
        &:after {
          content: "|";
          position: absolute;
          right: 10px;
          top: 0;
        }
      }
      .form-control {
        border-left: none;
        border-radius: 0 7px 7px 0;
        &:focus {
          border: none !important;
        }
      }
      &:has(.form-control:focus) {
        border: 1px solid $purple;
        border-radius: 7px;
      }
    }
  }
  .agree-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    input[type="checkbox"] {
      display: none;
      &:checked + span {
        background: #8b7ff8;
      }
    }
    span {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      border: 1px solid #b4b4b4;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $mobileScreen) {
        width: 15px;
        height: 15px;
        i {
          font-size: 10px;
        }
      }
    }

    strong {
      color: var(--color-5, #142029);
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      @media (max-width: $mobileScreen) {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}

.back-arrow {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  @media (max-width: $mobileScreen) {
    display: block;
  }
}

// general scss

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

// carousel css

.owl-carousel .owl-dots.disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
.owl-carousel .owl-nav.disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 161px;
}

.owl-dots {
  .owl-dot {
    span {
      width: 14px;
      height: 14px;
      display: inline-flex;
      background: rgba(139, 127, 248, 0.16);
      border-radius: 50%;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: transparent;
        top: -3px;
        left: -3px;
        // transform: translate(-50%,-50%);
      }
    }
    &.active {
      span {
        background: $primary;
        &:after {
          width: 20px;
          height: 20px;
          z-index: -1;
          background: rgba(139, 127, 248, 0.16);
        }
      }
    }
  }
}
.owl-nav {
  margin-top: 60px;
  position: relative;
  top: 25px;
  .owl-prev,
  .owl-next {
    position: relative;
    i {
      color: #8b7ff84d;
      font-size: 25px;
    }
    &:after {
      content: "";
      position: absolute;
      background: rgba(139, 127, 248, 0.16);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .owl-prev {
    &:after {
      transform: translate(-80%, -53%);
    }
  }
  .owl-next {
    i {
      color: $primary;
    }
    &:after {
      transform: translate(-21%, -53%);
    }
  }
}
